*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  }

.max-width {
  max-width: 1400px;
  padding: 0 80px;
  margin: auto;
}

/*Navbar styling*/
.navbar{
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  background: #45ad03;
  font-family: 'Roboto', sans-serif;
  }

.navbar.sticky{
  padding: 15px 0;
  background: #45ad03;
}

.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
    color: white;
    font-size: 25px;
    font-weight: 600;

    font-family: 'Roboto Slab', serif;
  }

.navbar .menu li{
  list-style: none;
  display: inline-block;
}
.navbar .menu li a{
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
}
.navbar .menu li a:hover{
  color: black;
  transition: all 0.3s;
}

/*menu btn*/
.menu-btn{
  color: white;
  font-size: 23px;
  cursor: pointer;

}

/*Home section styling*/
.home{
  display: flex;
  height: 100vh;
  color: white;
  font-family: roboto;
  background: url("https://i.ibb.co/v1pQWJ5/20210323-113920.jpg")no-repeat center;
  background-color: #d9d5d2;
}

.home .max-width{
  width: 100%;
  display: flex;
}

.home .home-content .text-1{
  font-size: 27px;
  font-family: 'Roboto', sans-serif;
}

.home .home-content .text-2{
  font-size: 70px;
  font-weight: 600;
  margin-left: -3px;
  font-family: 'Roboto Slab', serif;
}
.text-2 span{
  color: #45ad03;
}

.home .home-content .text-3{
  font-size: 30px;
  margin: 5px 0;
  font-family: 'Roboto', sans-serif;
}

.home .home-2 .home-content .text-3 span{
  color: #45ad03;
  font-weight: 500;

}

/* Augmented Reality section styling */
.augmented-reality, .about-museum{
    background-color: #f4ffed;

  }



  .augmented-reality, .about-museum{
    height: 100vh;
    display: flex;
}




/*text styling*/
h1{
font-family: 'Roboto Slab', serif;
  font-size: 32px;
  padding-top: 50px;
  text-align: center;
}

h1 span{
  color:#45ad03
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  padding-bottom: 5px;
  color:#45ad03
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}


/*All wrapper & grid container styling*/
.wrapper {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #fafafa;

}

.grid-container-2-up {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 1300px;

}
.grid-item {
  text-align: center;
  padding: 25px;
  border: 10px solid white;

}

.grid-text {
  text-align: left;
  padding: 35px;
  margin-top: 50px
}


/* footer section styling */
.footer{
    width: 100%;
    background: #45ad03;
    padding: 15px;
    color: #fff;
    text-align: center;
    margin: 0;
}

/*responsive media queries*/
@media(max-width: 947px) {
  .max-width{
    padding: 0 40px;
}
  .menu-btn{
    display: block;
    z-index: 999;
  }
  .navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #45ad03;
    text-align: center;
    padding-top: 80px;
   }
   .navbar .menu.active{
     left: 0;
    }

  .navbar .menu li{
    display: block;
  }
  .navbar .menu li a{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
}

@media (max-width: 900){
.grid-container {
}
}
@media (max-width: 900px) {
 .home {
     text-shadow: 2px 2px 5px #000000;
  }
}
@media (max-width: 900px) {
 .max-width {
   max-width: 100%;
 }
}

@media (max-width: 1200px){
.grid-container-2-up {
  text-align: center;
  grid-template-columns: auto;

}
}
@media (max-width: 900px){
.grid-container {
  align-items: center;
  grid-template-columns: auto;
  width: 100%;

}
  .grid-item {
    text-align: center;
    padding: 15px;


  }
  .grid-text {
    padding: 5px;
    margin-top: 0px;
    text-align: center;
    width: 100%;
  }
}

